[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg-python = "*"

[dev-packages]
google-cloud-texttospeech = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
